.wrapper{
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.73);
    color: #d3d3d3;
}

p{
    width: 60%;
    position: relative;
    margin: auto;
    display: block;
}

.wrapper h2{
    text-align: center;
}

img{
    width: 50%;
    position: relative;
    display: block;
    margin: auto;
}